---
import Layout from "../layouts/aboutLayout.astro";
import HeroText from "../components/widgets/HeroText.astro";
import Features2 from "../components/widgets/Features2.astro";

const metadata = {
  title: "About",
};
---

<Layout metadata={metadata}>
  <HeroText tagline="About" title="Who We Are?" />

  <section class="max-w-7xl mx-auto px-4 sm:px-6 py-12 md:py-20">
    <div class="prose white:prose-white mx-auto">
      <p>
        Trips & Trade is a premier destination management company dedicated to
        creating exceptional travel experiences for our clients. With a passion
        for exploration and a commitment to excellence, we have established
        ourselves as a trusted partner in the travel industry.
      </p>

      <p>
        Our team of experienced travel professionals is driven by a shared love
        for travel and a deep understanding of the destinations we serve. We
        possess in-depth knowledge of the local culture, attractions, and hidden
        gems, allowing us to curate unforgettable journeys that go beyond the
        ordinary.
      </p>

      <p>
        What sets us apart is our relentless pursuit of excellence in every
        aspect of our services. From the moment you contact us, our dedicated
        team is committed to understanding your unique travel preferences,
        interests, and aspirations. We believe in personalization, tailoring
        each itinerary to your specific needs, and ensuring that every detail is
        meticulously crafted to exceed your expectations.
      </p>

      <p>
        As a destination management company, we take pride in our ability to
        create immersive experiences that truly capture the essence of a
        destination. Whether you're seeking a cultural immersion, an adventure
        in nature, or a luxury retreat, we have the expertise to design a
        journey that reflects your desires and allows you to connect with the
        heart and soul of the place you're visiting.
      </p>

      <p>
        At Trips & Trade, sustainability is at the core of our values. We are
        dedicated to promoting responsible tourism practices that respect the
        environment, preserve local cultures, and benefit the communities we
        visit. We believe that travel should be a force for good, and we strive
        to make a positive impact through our operations and partnerships.
      </p>

      <p>
        At Trips & Trade, our passion is to inspire you to explore the world,
        discover new horizons, and create cherished memories. We invite you to
        embark on a journey with us, where adventure meets luxury, where culture
        meets nature, and where every moment is crafted to exceed your
        expectations. Let us be your guide to the extraordinary.
      </p>

      <p>
        We offer you full services of land arrangements from economy class
        packages to the most exotic ones at any destination in UK & Europe,
        Thailand, Vietnam, Australia, Singapore, Malaysia, Indonesia, Dubai,
        Hong Kong, Canada, Russia, Sri Lanka, Maldives, Azerbaijan, Kenya,
        Tanzania, South Africa, North & South America, Mauritius, and Cambodia.
        As a Destination Management Company representative, we provide
        comprehensive Travel Management Services as well.
      </p>

      <h3>Our range of services includes:</h3>
      <ul>
        <li>Tour Packages & Group Packages</li>
        <li>Regular hotel deal</li>
        <li>FIT & GIT</li>
        <li>MICE and Leisure (Meetings, Incentives, Conferences, Events)</li>
        <li>Door to Door Tranfers</li>
        <li>Team Building Events</li>
        <li>Trade Fair Packages</li>
      </ul>

      <h3>Moreover, We provide below services:</h3>
      <ul>
        <li>Flight Tickets - Group Ticketing</li>
        <li>VISA Support</li>
        <li>Cruises</li>
        <li>B2B Online Travel Booking Tool</li>
        <li>International Rail Pass</li>
      </ul>

      <p>
        Trips & Trade’s Goal is to provide an outstanding and pleasant travel
        experience to every single customer so that our customers feel every
        journey with us is a remarkable memorable, joyful experience in their
        lifetime.
      </p>

      <h3>Some of the key points to work with us:</h3>
      <ul>
        <li>Fast reply with complete info</li>
        <li>Last Minute Land arrangement services available</li>
        <li>
          Strong land packages offer without or with the hotel for all above
          destination
        </li>
        <li>More than easy for service amendment.</li>
      </ul>

      <p>
        Please do not hesitate to contact us in case of any further details that
        you may need.
      </p>
    </div>
  </section>
  <!-- here will come 2 (image + some text) boxes...  -->

  <!-- Here will come some 3 core values of compnay -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: "General support",
        description: `Chat with us for inquiries related to Travel, Tour Packages, MICE Bookings.`,
      },
      {
        title: "Contact sales",
        description:
          "Chat with us for questions about purchases, customization options, inquiries about specific needs, etc.",
      },
      {
        title: "Technical support",
        description:
          "Chat with us when facing issues like template installation, problems editing difficulties, compatibility issues with software or download errors, or other technical challenges related to using the templates.",
      },
      {
        title: "Phone",
        description: "+91 78780 08850",
        icon: "tabler:headset",
      },
      {
        title: "Email",
        description: "ops@tripsandtrade.com",
        icon: "tabler:mail",
      },
      {
        title: "Location",
        description:
          "604, Shivalik Shilp 2, Itc Narmada, opp. Hotel, Suryapooja Block B, Vastrapur, Ahmedabad, Gujarat 380015",
        icon: "tabler:map-pin",
      },
    ]}
  />
</Layout>
