---
import Layout from "../layouts/ContactUs.astro";
---

<Layout
  title="Contact Us"
  description="Contact Us form & Information page."
  heroImage="/blog-placeholder-about.jpg"
>
  <!-- <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 section">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h2 class="text-3xl font-bold mb-4">Contact Information</h2>
        <div class="bg-gray-100 p-6 rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Head Office</h3>
          <p>
            Trips and Tools DMC UK Limited 85, Church Street, Leamington Spa,
            CV32 4PS, United Kingdom
          </p>
          <p class="mt-2">Phone: +44 7824079723, +44 8925890024</p>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg mt-4">
          <h3 class="text-xl font-semibold mb-2">Thailand Branch</h3>
          <p>
            Trips & Joy Co Ltd, 31/100, Arun-a Tha Soi II Moo 9, Banglamung,
            Chonburi 20150, Thailand
          </p>
          <p class="mt-2">Phone: +66 66004647, +66 7870038850</p>
          <p class="mt-2">Fax number: +0 794 684 4800</p>
        </div>
      </div>
      <div>
        <h2 class="text-3xl font-bold mb-4">Get in Touch</h2>
        <form class="bg-gray-100 p-6 rounded-lg">
          <div class="mb-4">
            <label
              class="block text-gray-700 font-semibold mb-2"
              for="company-name">Company Name</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="company-name"
              type="text"
              placeholder="Company Name"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 font-semibold mb-2"
              for="contact-person">Full Name of Contact Person</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="contact-person"
              type="text"
              placeholder="Full Name of Contact Person"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="phone"
              >Phone</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="phone"
              type="tel"
              placeholder="Phone number"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="email"
              >Email Address</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="email"
              type="email"
              placeholder="Email Address"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="skype"
              >Skype ID</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="skype"
              type="text"
              placeholder="Skype ID"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="country"
              >Country</label
            >
            <select class="border rounded-lg px-3 py-2 w-full" id="country">
              <option value="">Select Country</option>
              
            </select>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="city"
              >City</label
            >
            <select class="border rounded-lg px-3 py-2 w-full" id="city">
              <option value="">Select City</option>
               
            </select>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="subject"
              >Subject</label
            >
            <input
              class="border rounded-lg px-3 py-2 w-full"
              id="subject"
              type="text"
              placeholder="Subject"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-semibold mb-2" for="message"
              >Message</label
            >
            <textarea
              class="border rounded-lg px-3 py-2 w-full"
              id="message"
              rows="4"
              placeholder="Message"></textarea>
          </div>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div> -->
</Layout>
