---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/destination">Destination</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/contactus">Contact Us</HeaderLink>
    </div>
    <ThemeIcon />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: #ffffff40;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--black);
  }

  .social-links,
  .social-links a {
    display: flex;
    padding-right: 1em;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
