---
import Card from "../../../components/Card.astro";
import BaseHead from "../../../components/BaseHead.astro";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            (
              <div class="card-container">
                <Card
                  imageUrl="/src/assets/Image/Thailand/thailand.jpg"
                  location="PATTAYA"
                  title="PATTAYA 4N/5D ITINERARY"
                  duration="4 Nights 5 Days"
                  availability="On Request"
                />
                <Card
                  imageUrl="/src/assets/Image/Thailand/thailand.jpg"
                  location="PATTAYA"
                  title="PATTAYA 4N/5D ITINERARY"
                  duration="4 Nights 5 Days"
                  availability="On Request"
                />
                <Card
                  imageUrl="/src/assets/Image/Thailand/thailand.jpg"
                  location="PATTAYA"
                  title="PATTAYA 4N/5D ITINERARY"
                  duration="4 Nights 5 Days"
                  availability="On Request"
                />
                <Card
                  imageUrl="/src/assets/Image/Thailand/thailand.jpg"
                  location="PATTAYA"
                  title="PATTAYA 4N/5D ITINERARY"
                  duration="4 Nights 5 Days"
                  availability="On Request"
                />
                <Card
                  imageUrl="/src/assets/Image/Thailand/thailand.jpg"
                  location="PATTAYA"
                  title="PATTAYA 4N/5D ITINERARY"
                  duration="4 Nights 5 Days"
                  availability="On Request"
                />
              </div>
            )
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
